<% layout("../layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input value="<%=campground.title%>" class="form-control" type="text" id="title"
                        name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input value="<%=campground.location%>" class="form-control" type="text" id="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input value="<%=campground.price%>" id="price" name="campground[price]" type="text"
                        class="form-control" aria-label="Amount (to the nearest dollar)" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%=campground.description%> </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-4 mt-3 custom-file">
                    <label class="form-label" for="image">Image File</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                    <label for="image" class="custom-file-label text-muted"></label>
                </div>

                <div class="mb-3">
                    <% for(let i=0 ; i < campground.images.length; i++) {%>
                        <!-- <% const thumbnail = campground.images[i].url.replace("/upload" , "/upload/w_100" ) %> -->
                        <img crossorigin="anonymous" src="<%=campground.images[i].url%>" class="img-thumbnail" alt="nature landscapes" style="width: 200px; height: 100px;">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deletedImages[]" value="<%=campground.images[i].filename%>"
                                id="image-<%i%>">
                        </div>
                        <label for="image-<%i%>">Delete me</label>
                <% } %>
                    </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Update Campground</button>
                </div>
            </form>

        <footer>
            <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
        </footer>
            
    </div>
</div>

<style>
    new {
        width: 100px;
        height: 100px;

    }
</style>