<% layout("../layouts/boilerplate") %>
    <div id="map" style="width: 100%; height: 500px"></div>
    <h1>All Campgrounds</h1>
    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div id="campgroundCarousel" class="carousel slide">
                        <div class="carousel-inner card-img-top">
                            <% for(let i=0 ; i < campground.images.length; i++) {%>
                                <div class="carousel-item <%= i === 0 ? 'active': "" %>">
                                    <img src="<%=campground.images[i].url%>" class="d-block w-100"
                                        alt="nature landscapes">
                                </div>
                                <% } %>
                        </div>
                        <% if(campground.images.length> 1){ %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=campground.location%>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%>
                                </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                const token = '<%-process.env.MAP_KEY%>';
                const campgrounds = { features: JSON.parse('<%-JSON.stringify(campgrounds)%>')};
                </script>
            <script src="/JS/cluster.js"></script>